:root {
  /**
  |============================
  | Colors
  |============================
*/

  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navy-blue: #2E2F42;
  --slate: #434455;
  --light-slate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
  --navy-blue-modal: rgba(46, 47, 66, 0.40);
  --grey: rgba(46, 47, 66, 0.7);
  --green: #31D0AA;
  --white: #ffffff;
  --dairy: #FCFCFC;
             /* FONT'S */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;


}


ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}




body {
  background: #ffffff;
  color: var(--slate);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.features-list-title, .team-member-name, .portfolio-app-titles {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */ 
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-title, .portfolio-title {
  font-weight: 700;
  font-size: 36px;  
  /* line-height: 40px; */ 
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/**
  |============================
  | HEADER-SECTION
  |============================
*/

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-header {
  color: var(--navy-blue);
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */ 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.address-header {
  font-style: normal;
}

.address-list-link {
  font-family: var(--font-family);
  font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}

.address-list-link:hover,
.address-list-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--OCEAN, #404BBF);
}

/**
  |============================
  | HERO-SECTION
  |============================
*/

.hero-section {
  background-color: var(--navy-blue);
}

.hero-title {
  font-weight: 700;
font-size: 56px;

/* line-height: 60px; */ 
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--white);
}

.order-button {
  background: var(--iris);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white);
}

/**
  |============================
  | TEAM-SECTION
  |============================
*/

.team-section {
  background-color: var(--cloud);
}

/**
  |============================
  | FOOTER-SECTION
  |============================
*/

.footer-section {
  background-color: var(--navy-blue);
}

.logo-footer {
  color: var(--cloud);
}

.footer-alt-text {
  font-size: 16px;
  color: var(--cloud);
}

/**
  |============================
  | 
  |============================
*/