:root {
    /**
      |============================
      | Colors
      |============================
    */
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: rgba(46, 47, 66, 0.40);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #ffffff;
    --dairy: #FCFCFC;
    /**
      |============================
      | Others
      |============================
    */
    --indent-x: 24px;
    --indent-y: ;
    --list-items-sum: 3;
}


body {
    width: 1440;
    height: 3300;
background-color: #ffffff;
color: var(--navy-blue);
font-weight: 500;
font-size: 16px;
font-style: normal;
font-family: Roboto, sans-serif ;
line-height: 1.5;
letter-spacing: 0.32em;
}


/**
  |============================
  | Reset
  |============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}
/**
  |============================
  | 
  |============================
*/


/**
  |============================
  | Lists-style
  |============================
*/

.nav-list,
.features-list,
.jobs-list,
.team-list {
    list-style-type: none;

}
/**
  |============================
  | 
  |============================
*/


body {

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

h1 {
    background-color: #2E2F42;
color: white
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
}

