:root {
    /**
      |============================
      | Colors
      |============================
    */
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: rgba(46, 47, 66, 0.40);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #ffffff;
    --dairy: #FCFCFC;
    

    /**
      |============================
      | Others
      |============================
    */
}


body {
font-family: "Roboto", sans-serif;  
background-color: #ffffff;
color: var(--slate);
font-size: 16px;
}

/**
  |============================
  | Reset
  |============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
  text-decoration: none;
}
button {
    cursor: pointer;
}

/**
  |============================
  | Lists-style
  |============================
*/

.nav-list,
.features-list,
.portfolio-list,
.team-list,
.adress-list {
    list-style-type: none;

}

/**
  |============================
  | Header section
  |============================
*/


/**
  |============================
  | Hero section
  |============================
*/



/**
  |============================
  | Features section
  |============================
*/


/**
  |============================
  | Team section
  |============================
*/

/**
  |============================
  | Portfolio section
  |============================
*/
/**
  |============================
  | Footer section
  |============================
*/
